<header>
    <a routerLink="" id="logo"><img width="103" alt="MICRO FACTORY CAPITAL" src="./assets/images/logo.svg"></a>
    <span id="mobile-toggle-menu">
        <img width="32" alt="Menu" src="assets/images/menu.svg">
    </span>
    <nav>
        <span class="avatar">
            <a routerLink="/cuenta/editar"><img width="24" alt="Editar Perfil" src="assets/images/gear.svg"></a>
            <img width="38" alt="Perfil" src="assets/images/avatar.svg">
            <span>Mateo Patiño</span>
        </span>
    </nav>
</header>