header {
    display: block;
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,.16);
    padding: 8px 25px;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
}
header > nav {
    float: right;
    cursor: pointer;
}
.avatar {
    float: right;
    cursor: pointer;
    font-size: 0;
    margin: 10px 0;
    position: relative;
}
.avatar img {
    vertical-align: middle;
    margin-right: 12px;
}
.avatar span {
    font-size: 16px;
    color: #287FA2;
    vertical-align: middle;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#submenu-user {
  position: absolute;
  top: 59px;
  left: 36px;
  background: #285e80;
  right: 0;
  border-radius: 0 0 6px 6px;
  padding: 8px 4px;
  display: none;
}

#submenu-user.active {
  display: block;
}

#submenu-user a {
  display: block;
  font-size: 14px;
  padding: 4px 8px;
  transition: all .3s ease;
  color: #7e9eb3;
}

#submenu-user a:hover {
  color: #ffffff;
}

#mobile-toggle-menu {
    float: left;
    margin: 16px 20px 16px 0px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 767px) {
    #mobile-toggle-menu {
        display: block;
    }
    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 3;
    }
}


@media screen and (max-width: 480px) {

  .avatar>img, .nameTop {
    display: none;
  }

  #submenu-user {
    top: 62px;
    width: 120px;
    left: 0;
  }

  #submenu-user a {
    font-size: 16px;
  }

}
