<header>
    <a routerLink="" id="logo"><img width="103" alt="MICRO FACTORY CAPITAL" src="./assets/images/logo.svg"></a>
    <span id="mobile-toggle-menu">
        <img width="32" alt="Menu" src="assets/images/menu.svg">
    </span>
    <nav>
        <span class="avatar">
            <a routerLink="/cuenta/editar"><img width="24" alt="Editar Perfil" src="assets/images/gear.svg"></a>
            <img width="38" alt="Perfil" src="assets/images/avatar.svg">
            <span>{{usuario}}</span>
        </span>
        <a href="javascript:;" (click)="openSM(modalSucursal)" class="nameTop">{{nombreSucursal}}</a>
    </nav>
</header>

<ng-template #modalSucursal let-modal>
    <div class="modal-header-mfc variation">
        <div class="cols cols2 align-middle">
            <div class="align-left">
                <img width="20" alt="MICRO FACTORY CAPITAL" src="./assets/images/icon-mundo.svg">
                <h4 class="modal-minititle-mfc">Sucursal</h4>
            </div>
            <div class="align-right">
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Close click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <form class="forms forms-relative" style="margin-top: 0;padding-top: 0;">
        <div class="bodyFormSucursal">
            <fieldset>
                <label class="label">Usuario</label>
                <label class="label">{{usuario}}</label>
            </fieldset>
            <fieldset>
                <label class="label">Sucursal</label>
                <select #SucursalActual>
                    <option *ngFor="let sucursal of sucursales" value="{{sucursal.ID_SUC}}" >{{sucursal.NOM_SUC}}</option>
                </select>
            </fieldset>
        </div>
        <div class="modal-footer-mfc full variation">
            <div class="align-right">
                <button class="btn btn-solid-blue" (click)="modal.close('Cancelar click');cambiarSucursal(SucursalActual.value);">Aceptar</button>
            </div>
        </div>
    </form>
</ng-template>