<section class="content">
    <h1>Bienvenido</h1>
    <div class="dashboard-items">
        <div class="item">
            <a routerLink="/fabrica/nueva-solicitud-Min"></a>
            <h2>Nueva Solicitud</h2>
            <p>Genere nuevas solicitudes de crédito</p>
            <img src="assets/images/item1.svg" />
        </div>
        <div class="item">
            <a routerLink="/fabrica/consulta-general"></a>
            <h2>Consulta Solicitudes</h2>
            <p>Consulte el estado de sus solicitudes</p>
            <img src="assets/images/item2.svg" />
        </div>
        <div class="item">
          <a routerLink="/fabrica/envio-documentos"></a>
          <h2>Envío Documentos</h2>
          <p>Consulte el estado del envío de documentos</p>
          <img src="assets/images/icon-document-list.svg" />
        </div>
        <div class="item">
            <a routerLink="/fabrica/consulta-general"></a>
            <h2>Solicitudes Ingresando</h2>
            <p>Consulte el estado de sus solicitudes</p>
            <span class="number">{{ingresando}}</span>
        </div>
        <div class="item">
            <a routerLink="/fabrica/consulta-general"></a>
            <h2>Solicitudes en Revisión</h2>
            <p>Consulte el estado de sus solicitudes</p>
            <span class="number">{{revision}}</span>
        </div>
        <div class="item">
            <a routerLink="/fabrica/consulta-general"></a>
            <h2>Solicitudes Finalizadas</h2>
            <p>Consulte el estado de sus solicitudes</p>
            <span class="number">{{finalizadas}}</span>
        </div>
    </div>
</section>
