<app-menutop></app-menutop>
<section id="father-table">
    <app-sidebar></app-sidebar>
    <div class = "style-content">
        <div class="container my-4">
            <h2 class="standard-title">Configuración del Sprint</h2>
            <div class="forms forms-relative">
                <div class="cols cols3">
                    <div>
                        <fieldset>
                            <label class="label">Fecha Inicio</label>
                            <input formControlName="fechaInicio" class="form-control" type="date">
                        </fieldset>
                    </div>
                    <div>
                        <fieldset>
                            <label class="label">Fecha Fin</label>
                            <input formControlName="fechaFin" class="form-control" type="date">
                        </fieldset>
                    </div>
                    <div >
                        <fieldset>
                            <label class="label">Nombre</label>
                            <input type="text" placeholder="Nombre del Sprint">
                        </fieldset>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-outline-dark my-3" >Save</button>
                </div>
            </div>
        </div>

    </div>

</section>

