<app-menutop></app-menutop>
<section id="father-table">
    <app-sidebar></app-sidebar>
    <div class = "style-content">
        <div class="container my-4">
            <h2 class="standard-title">Configuración de Fechas de Votaciones</h2>
            <div class="forms forms-relative" [formGroup]="FormularioFechaSprint">
                <div class="cols cols3">
                    <div>
                        <fieldset>
                            <label class="label">Fecha Inicio Votaciones Prioridad 2 y 3</label>
                            <input formControlName="fechaDesde" class="form-control" type="date">
                        </fieldset>
                    </div>
                    <div>
                        <fieldset>
                            <label class="label">Fecha Fin Votaciones Prioridad 2 y 3</label>
                            <input formControlName="fechaHasta" class="form-control" type="date">
                        </fieldset>
                    </div>
                    <div>
                        <fieldset>
                            <label class="label">Fecha Inicio Votaciones Prioridad 1</label>
                            <input formControlName="fechaInicioPrioridad1" class="form-control" type="date">
                        </fieldset>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-outline-dark my-3" (click)="Submit() ">Guardar</button>
                </div>                
            </div>
            <h2 class="standard-title my-3">Configuraciones Trello</h2>
            <table class="width-filters display nowrap">
                <thead>
                    <tr>
                        <th>
                        Opciones de Agrupacion
                        </th>
                        
                        <th>
                        Opciones de Regreso
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <td>
                        <p>Agrupar Tarjetas al backlog:</p>
                        <button type="button" class="btn btn-outline-dark my-3" (click)="moverTarjetas() ">Agrupar</button>
                    </td>
                    <td>
                        <p>Regresar Tarjetas a su área respectiva:</p>
                        <button type="button" class="btn btn-outline-dark my-3" (click)="regresarTarjetas() ">Regresar</button>
                    </td>
                </tbody>
            </table>
            
        </div>
    </div>
</section>