<div class="content">

    <div class="content-grid-list">
        <ul class="grid-list grid-list-fix">
            <li>
                <h5>Solicitud #</h5>
                <span>{{mensajeServicio.NumeroCredito}}</span>
            </li>
            <li>
                <h5>Cédula</h5>
                <span>{{mensajeServicio.Cedula}}</span>
            </li>
            <li>
                <h5>Nombre</h5>
                <span>{{mensajeServicio.NombreConsultado}}</span>
            </li>
            <li>
                <h5>Estado<img src="assets/images/update.png" (click)="incializarCredito()" /></h5>
                <span class="tag">{{mensajeServicio.Estado}}</span>
            </li>
            <li>
                <h5>Sub-estado</h5>
                <span>{{mensajeServicio.SubEstado}}</span>
            </li>
            <li>
                <h5>Fecha Creación</h5>
                <span>{{mensajeServicio.FechaCreacion}}</span>
            </li>
            <li>
                <h5>Tipo de Crédito</h5>
                <span>{{mensajeServicio.TipoCredito}}</span>
            </li>
        </ul>
        <ul class="grid-list">
            <li>
                <h5>Perfil Aplicado</h5>
                <span>{{mensajeServicio.PerfilAplicado}}</span>
            </li>
            <li>
                <h5>Score</h5>
                <span>{{mensajeServicio.ScoreDeudor}}</span>
            </li>
            <li>
                <h5>Ingreso Validado</h5>
                <span>{{mensajeServicio.IngresoValidado}}</span>
            </li>
            <li>
                <h5>Asesor Asociado</h5>
                <select>
                    <option>{{mensajeServicio.AsesorAsociado}}</option>
                </select>
            </li>
            <li>
                <h5>Valor de la Venta</h5>
                <span>{{mensajeServicio.ValorTotal}}</span>
            </li>
            <li>
                <h5>Valor de la Entrada</h5>
                <span>{{mensajeServicio.Entrada}}</span>
            </li>
            <li>
                <h5>Valor Crédito Solicitado</h5>
                <span>{{mensajeServicio.Monto}}</span>
            </li>
        </ul>
    </div>

    <app-steps></app-steps>

    <form class="steps-mobile">
        <select id='selectSteps'>
            <option value='datos-basicos'>Datos básicos</option>
            <option value='credito'>Crédito</option>
            <option value='solicitud-credito'>Solicitud Crédito</option>
            <option value='requisitos'>Requisitos</option>
            <option value='politicas' selected>Políticas</option>
            <option value='generacion'>Generación</option>
            <option value='control-calidad'>Control Calidad</option>
            <option value='resumen'>Resumen</option>
        </select>
    </form>

    <div class="forms forms-relative">
        <div class="buscador-general">
            <label class="label">Buscador General</label>
            <input type="text" placeholder="Filtrar">
        </div>
        <div id="table-scroll">
            <table class="width-filters">
                <thead>
                    <tr>
                        <th>Solicitar Excepción</th>
                        <th>Política</th>
                        <th>Requisito</th>
                        <th>Aprobado</th>
                        <th>Usuario Aprobado</th>
                        <th>Fecha Aprobado</th>
                        <th>Estado</th>
                        <th>Observaciones</th>
                        <th>Usuario Solicitud Excepción</th>
                        <th>Fecha Solicitud Excepción</th>
                        <th>Usuario Excepcionado</th>
                        <th>Fecha Excepcionado</th>
                        <th>Id</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let politica of politicas | paginate: {itemsPerPage: 10, currentPage: paginaAcual}">
                        <td><a *ngIf="SolicitarExcepcion" class="tag-with-radius" (click)="openCustomWidthVariant(solicitudExcepcion, politica)"> Solicitar </a></td>
                        <td>{{politica.NOM_POL}}</td>
                        <td>{{politica.VALOR_MAT}}</td>
                        <td><img src="{{politica.CHECK_UX}}" class="check-center"></td>
                        <td>{{politica.USR_VAL}}</td>
                        <td>{{politica.FECH_VAL | date: 'yyyy-MM-dd'}}</td>
                        <td><span class="{{politica.COLOR_UX}}"></span></td>
                        <td>{{politica.OBSER_VAL_EXC_VAL}}</td>
                        <td>{{politica.USR_EXC_VAL}}</td>
                        <td>{{politica.FECH_EXC_VAL | date: 'yyyy-MM-dd'}}</td>
                        <td>{{politica.USR_VAL_EXC_VAL}}</td>
                        <td>{{politica.FECH_VAL_EXC_VAL | date: 'yyyy-MM-dd'}}</td>
                        <td>{{politica.ID_VAL}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination-controls class="my-pagination align-content-center label" previousLabel="Anterior" nextLabel="Siguiente" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" autoHide="true" (pageChange)="paginaAcual = $event"></pagination-controls>
    </div>

    <div class="footer-fixed-forms">
        <div class="cols cols2">
            <div class="align-left">
                <button class="btn btn-border-blue" (click)="openCustomWidthVariant(verHistorial,'')"><img src="assets/images/icon-reloj.svg">Historial</button>
                <button *ngIf="btnSolicitarAnulacion" class="btn btn-border-blue" (click)="openCustomWidthVariantCancelar(cancelarSolicitud)">Cancelar solicitud</button>
                <button class="btn btn-border-blue btn-cancel"><img src="assets/images/icon-folder.svg">Documentación</button>
            </div>
            <div class="align-right">
                <!-- <button class="btn btn-border-gray">Cancelar</button> -->
                <button *ngIf="btnSolicitarAnalisis" class="btn btn-solid-green" (click)="solicitarAnalisis(mensajeModalError)">Solicitar análisis</button>
                <button *ngIf="ASPxActualizarSOL" class="btn btn-solid-green">Guardar</button>
                <button class="btn btn-solid-blue">Siguiente</button>
            </div>
        </div>
    </div>
</div>


<ng-template #verHistorial let-modal>
    <div class="modal-header-mfc variation">
        <div class="cols cols2 align-middle">
            <div class="align-left">
                <img width="20" alt="MICRO FACTORY CAPITAL" src="./assets/images/icon-historial-modal.svg">
                <h4 class="modal-minititle-mfc">Historial</h4>
            </div>
            <div class="align-right">
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Close click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <app-modal-historial></app-modal-historial>
    <div class="modal-footer-mfc full variation">
        <div class="cols cols2">
            <div class="align-left">
                <button class="btn btn-border-blue" routerLink="/configuracion/respuestas" (click)="modal.close('Cancelar click')">Generar respuesta</button>
            </div>
            <div class="align-right">
                <button class="btn btn-solid-blue" (click)="modal.close('Cancelar click')">Guardar</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #solicitudExcepcion let-modal>

    <div class="modal-header-mfc variation">
        <div class="cols cols2 align-middle">
            <div class="align-left">
                <img width="20" alt="MICRO FACTORY CAPITAL" src="./assets/images/icon-documentacion-modal.svg">
                <h4 class="modal-minititle-mfc">Solicitud de Excepción</h4>
            </div>
            <div class="align-right">
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Close click')">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
        </div>
    </div>

    <div class="modal-body variation">
        <div class="modal-with-viewer modal-without-pdf">
            <div class="forms forms-relative">
                <div class="cols cols2">
                    <div>
                        <fieldset>
                            <label class="label">ID</label>
                            <span class="text-data">{{politicasExepcion.ID_VAL}}</span>
                        </fieldset>
                    </div>
                    <div>
                        <fieldset>
                            <label class="label">Tipo</label>
                            <span class="text-data">Requisito</span>
                        </fieldset>
                    </div>
                </div>
                <fieldset>
                    <label class="label">Comentarios</label>
                    <textarea placeholder="Escriba Comentarios" style="max-height: 100px;" id="comentarioExcepcion" name="comentarioExcepcion" [(ngModel)]="comentarioExcepcion"></textarea>
                </fieldset>
                <div id="table-scroll">
                    <table class="width-filters" style="max-width: calc(100% - 8px);margin-top: 8px;">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Validación</th>
                                <th>Fecha</th>
                                <th>Usuario</th>
                                <th>Observaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let excepcion of excepciones">
                                <td>&nbsp;</td>
                                <td>{{excepcion.VALIDADO_VPOL}}</td>
                                <td>{{excepcion.USR_VAL_VPOL}}</td>
                                <td>{{excepcion.FECH_VAL_VPOL}}</td>
                                <td>{{excepcion.OBS_VAL_VPOL}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer-mfc full variation">
        <div class="align-right">
            <button class="btn btn-border-gray" (click)="modal.close('Cancelar click')">Cancelar</button>
            <button class="btn btn-solid-green" (click)="guardarExcepcion()">Guardar</button>
        </div>
    </div>

</ng-template>

<ngb-alert *ngIf="successMessage" type="success" class="wbtn-success" (close)="successMessage = null"><img src="./assets/images/success.svg"><span>{{ successMessage }}</span></ngb-alert>

<ng-template #mensajeModalError let-modal>
    <div class="modal-error">
        <div>
            <div class="cols cols2 align-middle">
                <div class="align-left">
                    <img src="./assets/images/warning.svg" width="42">
                    <p>{{errorMessage}}</p>
                    <ul>
                        <li *ngFor="let error of listadoErrores">
                            * {{ error }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="align-right">
            <button class="btn btn-solid-white" (click)="modal.close('Cancelar click')">Aceptar</button>
        </div>
    </div>
</ng-template>
<ng-template #cancelarSolicitud let-modal>
    <div class="modal-header-mfc variation">
        <div class="cols cols2 align-middle">
            <div class="align-left">
                <img width="20" alt="MICRO FACTORY CAPITAL" src="./assets/images/icon-folder.svg">
                <h4 class="modal-minititle-mfc">Cancelar Solicitud</h4>
            </div>
            <div class="align-right">
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Close click')">
                  <span aria-hidden="true">&times;</span>
              </button>
            </div>
        </div>
    </div>

    <div class="modal-body variation">
        <div class="forms forms-relative" style="margin: 20px -8px 0;padding: 0;">
            <fieldset>
                <label class="label">Ingrese el motivo para cancelar la solicitud:</label>
                <textarea #motivoCancelacion placeholder="Escriba el motivo" style="max-height: 100px;"></textarea>
            </fieldset>
        </div>
    </div>

    <div class="modal-footer-mfc full variation">
        <div class="align-right">
            <button class="btn btn-solid-blue" (click)="generarCancelacion(motivoCancelacion.value)">Cancelar Solicitud</button>
        </div>
    </div>
</ng-template>