<div class="content d-flex justify-content-center">
    <div class="card w-50 ">
        <div class="card-header">
            <h2 class="standard-title">Restablecer Contraseña</h2>
        </div>
        <form class="forms forms-relative account-edit" [formGroup]="FormularioContra" (ngSubmit)="savePassword()">
            <fieldset>
                <label class="label">Nueva contraseña</label>
                <input type="password" required minlength="6" formControlName="nuevaContra" placeholder="Escriba nueva contraseña">
                <div *ngIf="f.nuevaContra.touched && f.nuevaContra.invalid" >
                    <div *ngIf="f.nuevaContra.errors.required">Debe llenar este campo</div>
                    <div *ngIf="f.nuevaContra.errors.minlength">Contraseñas deben tener 6 characteres como mínimo</div>

                </div>
            </fieldset>
            <fieldset>
                <label class="label">Repetir Nueva contraseña</label>
                <input type="password" required minlength="6" formControlName="nuevaContraValidada" placeholder="Escriba nuevamente la contraseña">
                
                <div *ngIf="f.nuevaContraValidada.touched && f.nuevaContraValidada.invalid" >
                    <div *ngIf="f.nuevaContraValidada.errors.required">Debe llenar este campo</div>
                    <div *ngIf="f.nuevaContraValidada.errors.mustMatch">Contraseñas deben ser iguales</div>
                    <div *ngIf="f.nuevaContraValidada.errors.minlength">Contraseñas deben tener 6 characteres como mínimo</div>
                </div>
            </fieldset>
            <div class="btns-account">
                <button class="btn btn-primary" [disabled]="!FormularioContra.valid" >Guardar</button>
            </div>
        </form>
    </div>
</div>