<div class="content-breadcrumb">
    <ul class="breadcrumb">
        <li [class.ui-disabled]="datosbasicos" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <b>1</b>
            <a id="datos-basicos" [routerLink]="['/fabrica/nueva-solicitud',mensajeServicio.NumeroCredito]" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Datos básicos</a>
        </li>
        <li [class.ui-disabled]="credito" routerLinkActive="active" enabke>
            <b>2</b>
            <a id="credito" [routerLink]="['/fabrica/nueva-solicitud/credito',mensajeServicio.NumeroCredito]" routerLinkActive="active">Crédito</a>
        </li>
        <li [class.ui-disabled]="solicitudcredito" routerLinkActive="active">
            <b>3</b>
            <a id="solicitud-credito" [routerLink]="['/fabrica/nueva-solicitud/solicitud-credito',mensajeServicio.NumeroCredito]" routerLinkActive="active">Solicitud Crédito</a>
        </li>
        <li [class.ui-disabled]="requisitos" routerLinkActive="active">
            <b>4</b>
            <a id="requisitos" [routerLink]="['/fabrica/nueva-solicitud/requisitos',mensajeServicio.NumeroCredito]" routerLinkActive="active">Requisitos</a>
        </li>
        <li [class.ui-disabled]="politicas" routerLinkActive="active">
            <b>5</b>
            <a id="politicas" [routerLink]="['/fabrica/nueva-solicitud/politicas',mensajeServicio.NumeroCredito]" routerLinkActive="active">Políticas</a>
        </li>
        <li [class.ui-disabled]="generacion" routerLinkActive="active">
            <b>6</b>
            <a id="generacion" [routerLink]="['/fabrica/nueva-solicitud/generacion',mensajeServicio.NumeroCredito]" routerLinkActive="active">Generación</a>
        </li>
        <li [class.ui-disabled]="controlcalidad" routerLinkActive="active">
            <b>7</b>
            <a id="control-calidad" [routerLink]="['/fabrica/nueva-solicitud/control-de-calidad',mensajeServicio.NumeroCredito]" routerLinkActive="active">Control Calidad</a>
        </li>
        <li [class.ui-disabled]="controlcalidad" routerLinkActive="active">
            <b>8</b>
            <a id="resumen" [routerLink]="['/fabrica/nueva-solicitud/resumen',mensajeServicio.NumeroCredito]" routerLinkActive="active">Resumen</a>
        </li>
    </ul>
</div>