<div class="content">

    <div class="content-grid-list">
        <ul class="grid-list grid-list-fix">
            <li>
                <h5>Solicitud #</h5>
                <span>{{mensajeServicio.NumeroCredito}}</span>
            </li>
            <li>
                <h5>Cédula</h5>
                <span>{{mensajeServicio.Cedula}}</span>
            </li>
            <li>
                <h5>Nombre</h5>
                <span>{{mensajeServicio.NombreConsultado}}</span>
            </li>
            <li>
                <h5>Estado</h5>
                <span class="tag">{{mensajeServicio.Estado}}</span>
            </li>
            <li>
                <h5>Sub-estado</h5>
                <span>{{mensajeServicio.SubEstado}}</span>
            </li>
            <li>
                <h5>Fecha Creación</h5>
                <span>{{mensajeServicio.FechaCreacion}}</span>
            </li>
            <li>
                <h5>Tipo de Crédito</h5>
                <span>{{mensajeServicio.TipoCredito}}</span>
            </li>
        </ul>
        <ul class="grid-list">
            <li>
                <h5>Perfil Aplicado</h5>
                <span>{{mensajeServicio.PerfilAplicado}}</span>
            </li>
            <li>
                <h5>Score</h5>
                <span>{{mensajeServicio.ScoreDeudor}}</span>
            </li>
            <li>
                <h5>Ingreso Validado</h5>
                <span>{{mensajeServicio.IngresoValidado}}</span>
            </li>
            <li>
                <h5>Asesor Asociado</h5>
                <select>
                    <option>{{mensajeServicio.AsesorAsociado}}</option>
                </select>
            </li>
            <li>
                <h5>Valor de la Venta</h5>
                <span>{{mensajeServicio.ValorTotal}}</span>
            </li>
            <li>
                <h5>Valor de la Entrada</h5>
                <span>{{mensajeServicio.Entrada}}</span>
            </li>
            <li>
                <h5>Valor Crédito Solicitado</h5>
                <span>{{mensajeServicio.Monto}}</span>
            </li>
        </ul>
    </div>

    <app-steps></app-steps>

    <form class="steps-mobile">
        <select id='selectSteps'>
            <option value='datos-basicos'>Datos básicos</option>
            <option value='credito' selected>Crédito</option>
            <option value='solicitud-credito'>Solicitud Crédito</option>
            <option value='requisitos'>Requisitos</option>
            <option value='politicas'>Políticas</option>
            <option value='generacion'>Generación</option>
            <option value='control-calidad'>Control Calidad</option>
            <option value='resumen'>Resumen</option>
        </select>
    </form>

    <div>
        <form class="forms forms-relative">
            <div class="cols cols3">
                <div>
                    <h6>Perfil Aplicado</h6>
                    <fieldset>
                        <label class="label">Perfil Aplicado</label>
                        <input type="number" placeholder="Perfil Aplicado" disabled>
                    </fieldset>
                    <fieldset>
                        <label class="label">Monto Venta</label>
                        <input type="text" placeholder="Monto Venta" disabled>
                    </fieldset>
                    <fieldset>
                        <label class="label">Venta Total Aplicada ($)</label>
                        <input type="number" placeholder="Venta Total Apliada" disabled>
                    </fieldset>
                    <fieldset>
                        <label class="label">% Entrada aplicado</label>
                        <input type="text" placeholder="% Entrada aplicado" disabled>
                    </fieldset>
                    <fieldset>
                        <label class="label">Entrada aplicada mínima ($)</label>
                        <input type="number" placeholder="Entrada aplicada mínima" disabled>
                    </fieldset>
                    <fieldset>
                        <label class="label">Monto Referencial ($)</label>
                        <input type="number" placeholder="Monto Referencial" disabled>
                    </fieldset>
                    <fieldset>
                        <label class="label">Tasa</label>
                        <input type="number" placeholder="Tasa" disabled>
                    </fieldset>
                </div>
                <div>
                    <h6>Resultados WS</h6>
                    <fieldset>
                        <label class="label">Perfil Sugerido</label>
                        <input type="number" placeholder="Perfil Sugerido" disabled>
                    </fieldset>
                    <fieldset class="separator-top">
                        <label class="label">Venta Máxima Sugerida ($)</label>
                        <input type="number" placeholder="Venta Máxima Sugerida" disabled>
                    </fieldset>
                    <fieldset>
                        <label class="label">% Entrada sugerido</label>
                        <input type="text" placeholder="% Entrada sugerido" disabled>
                    </fieldset>
                    <fieldset>
                        <label class="label">Entrada sugerida ($)</label>
                        <input type="number" placeholder="Entrada sugerida" disabled>
                    </fieldset>
                    <fieldset>
                        <label class="label">Crédito Sugerido ($)</label>
                        <input type="number" placeholder="Crédito Sugerido" disabled>
                    </fieldset>
                    <fieldset>
                        <label class="label">Producto</label>
                        <input type="text" placeholder="Producto" disabled>
                    </fieldset>
                    <fieldset>
                        <label class="label">Capacidad Pago Máxima ($)</label>
                        <input type="number" placeholder="Capacidad Pago Máxima" disabled>
                    </fieldset>
                </div>
                <div>
                    <h6>Ingreso de Datos</h6>
                    <fieldset class="separator-top">
                        <label class="label">Venta Total Solicitada ($)</label>
                        <input type="number" placeholder="Venta Total Asociada" disabled>
                    </fieldset>
                    <fieldset>
                        <label class="label">Venta Total ($)</label>
                        <input type="number" placeholder="Venta Total" tabindex="1">
                    </fieldset>
                    <fieldset>
                        <label class="label">% Entrada</label>
                        <input type="text" placeholder="% Entrada" disabled>
                    </fieldset>
                    <fieldset>
                        <label class="label">Entrada ($)</label>
                        <input type="number" placeholder="Entrada" tabindex="2">
                    </fieldset>
                    <fieldset>
                        <label class="label">Monto Crédito ($)</label>
                        <input type="number" placeholder="Monto Crédito" disabled>
                    </fieldset>
                    <fieldset>
                        <label class="label">Plazo</label>
                        <input type="number" placeholder="Plazo" tabindex="3">
                    </fieldset>
                    <fieldset>
                        <label class="label">Cuota Mensual Fija ($)</label>
                        <input type="number" placeholder="Cuota Mensual Fija" disabled>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>


    <div class="footer-fixed-forms">
        <div class="cols cols2">
            <div class="align-left">
                <button class="btn btn-border-blue" (click)="openCustomWidthVariant(verHistorial)"><img src="assets/images/icon-reloj.svg">Historial</button>
                <button class="btn btn-border-blue btn-cancel">Cancelar</button>
            </div>
            <div class="align-right">
                <button class="btn btn-border-gray">Borrar</button>
                <button class="btn btn-solid-green" tabindex="4">Guardar</button>
                <button class="btn btn-solid-blue">Continuar</button>
            </div>
        </div>
    </div>
</div>

<ng-template #verHistorial let-modal>
    <div class="modal-header-mfc variation">
        <div class="cols cols2 align-middle">
            <div class="align-left">
                <img width="20" alt="MICRO FACTORY CAPITAL" src="./assets/images/icon-historial-modal.svg">
                <h4 class="modal-minititle-mfc">Historial</h4>
            </div>
            <div class="align-right">
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Close click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <app-modal-historial></app-modal-historial>
    <div class="modal-footer-mfc full variation">
        <div class="cols cols2">
            <div class="align-left">
                <button class="btn btn-border-blue" routerLink="/configuracion/respuestas" (click)="modal.close('Cancelar click')">Generar respuesta</button>
            </div>
            <div class="align-right">
                <button class="btn btn-solid-blue" (click)="modal.close('Cancelar click')">Guardar</button>
            </div>
        </div>
    </div>
</ng-template>