<div class="content">

    <div class="content-grid-list">
        <ul class="grid-list grid-list-fix">
            <li>
                <h5>Solicitud #</h5>
                <span>{{mensajeServicio.NumeroCredito}}</span>
            </li>
            <li>
                <h5>Cédula</h5>
                <span>{{mensajeServicio.Cedula}}</span>
            </li>
            <li>
                <h5>Nombre</h5>
                <span>{{mensajeServicio.NombreConsultado}}</span>
            </li>
            <li>
                <h5>Estado</h5>
                <span class="tag">{{mensajeServicio.Estado}}</span>
            </li>
            <li>
                <h5>Sub-estado</h5>
                <span>{{mensajeServicio.SubEstado}}</span>
            </li>
            <li>
                <h5>Fecha Creación</h5>
                <span>{{mensajeServicio.FechaCreacion}}</span>
            </li>
            <li>
                <h5>Tipo de Crédito</h5>
                <span>{{mensajeServicio.TipoCredito}}</span>
            </li>
        </ul>
        <ul class="grid-list">
            <li>
                <h5>Perfil Aplicado</h5>
                <span>{{mensajeServicio.PerfilAplicado}}</span>
            </li>
            <li>
                <h5>Score</h5>
                <span>{{mensajeServicio.ScoreDeudor}}</span>
            </li>
            <li>
                <h5>Ingreso Validado</h5>
                <span>{{mensajeServicio.IngresoValidado}}</span>
            </li>
            <li>
                <h5>Asesor Asociado</h5>
                <select>
                    <option>{{mensajeServicio.AsesorAsociado}}</option>
                </select>
            </li>
            <li>
                <h5>Valor de la Venta</h5>
                <span>{{mensajeServicio.ValorTotal}}</span>
            </li>
            <li>
                <h5>Valor de la Entrada</h5>
                <span>{{mensajeServicio.Entrada}}</span>
            </li>
            <li>
                <h5>Valor Crédito Solicitado</h5>
                <span>{{mensajeServicio.Monto}}</span>
            </li>
        </ul>
    </div>

    <app-steps></app-steps>
    <app-loading *ngIf="loading"></app-loading>
    <form class="steps-mobile">
        <select id='selectSteps'>
            <option value='datos-basicos'>Datos básicos</option>
            <option value='credito' selected>Crédito</option>
            <option value='solicitud-credito'>Solicitud Crédito</option>
            <option value='requisitos'>Requisitos</option>
            <option value='politicas'>Políticas</option>
            <option value='generacion'>Generación</option>
            <option value='control-calidad'>Control Calidad</option>
            <option value='resumen'>Resumen</option>
        </select>
    </form>

    <div>
        <form class="forms forms-relative" [formGroup]="FormularioDatosBasicos">
            <div class="cols cols3">
                <div>
                    <h6>PERFIL APLICADO</h6>
                    <fieldset>
                        <label class="label">Código de Perfil</label>
                        <input formControlName="aplicadoPerfil" type="number" placeholder="Perfil Aplicado">
                    </fieldset>
                    <fieldset>
                        <label class="label">Venta Total ($)</label>
                        <input formControlName="aplicadoMontoVenta" type="text" placeholder="Monto Venta">
                    </fieldset>
                    <fieldset>
                        <label class="label">Entrada Mínima ($)</label>
                        <input formControlName="aplicadoEntrada" type="number" placeholder="Entrada aplicada mínima">
                    </fieldset>
                    <fieldset>
                        <label class="label">Entrada Mínima (%)</label>
                        <input formControlName="aplicadoPorcentajeEntrada" type="text" placeholder="% Entrada aplicado">
                    </fieldset>
                    <fieldset>
                        <label class="label">Monto a Financiar ($)</label>
                        <input formControlName="aplicadoVentaTotal" type="number" placeholder="Venta Total Apliada">
                    </fieldset>
                    <fieldset>
                        <label class="label">Cuota Mensual ($)</label>
                        <input formControlName="aplicadoCuotaMensual" type="number" placeholder="Monto Referencial">
                    </fieldset>
                    <!-- <fieldset>
                        <label class="label">Monto Referencial ($)</label>
                        <input formControlName="aplicadoMontoReferencial" type="number" placeholder="Monto Referencial">
                    </fieldset>
                    <fieldset>
                        <label class="label">Tasa</label>
                        <input formControlName="aplicadoTasa" type="number" placeholder="Tasa">
                    </fieldset> -->
                </div>
                <div>
                    <h6>PERFIL SUGERIDO</h6>
                    <fieldset>
                        <label class="label">Código de Perfil</label>
                        <input formControlName="wsPerfilSugerido" type="number" placeholder="Perfil Sugerido">
                    </fieldset>
                    <fieldset>
                        <label class="label">Venta Máxima ($)</label>
                        <input formControlName="wsVentaMaxima" type="number" placeholder="Venta Máxima Sugerida">
                    </fieldset>
                    <fieldset>
                        <label class="label">Entrada Mínima ($)</label>
                        <input formControlName="wsEntradaSugerida" type="number" placeholder="Entrada sugerida">
                    </fieldset>
                    <fieldset>
                        <label class="label">Entrada Mínima (%)</label>
                        <input formControlName="wsPorcentajeEntrada" type="text" placeholder="% Entrada sugerido">
                    </fieldset>
                    <fieldset>
                        <label class="label">Monto a Financiar ($)</label>
                        <input formControlName="wsCreditoSugerido" type="number" placeholder="Crédito Sugerido">
                    </fieldset>
                    <!-- <fieldset>
                        <label class="label">Producto</label>
                        <input formControlName="wsProducto" type="text" placeholder="Producto">
                    </fieldset> -->
                    <fieldset>
                        <label class="label">Capacidad Pago</label>
                        <input formControlName="wsCapacidadPagoMax" type="number" placeholder="Capacidad Pago Máxima">
                    </fieldset>
                </div>
                <div>
                    <h6>INGRESO DE DATOS</h6>
                    <fieldset>
                        <label class="label">Plazo</label>
                        <input formControlName="plazo" (input)="onIngresosChange()" type="number" placeholder="Plazo" tabindex="3">
                    </fieldset>
                    <fieldset>
                        <label class="label">Venta Total ($)</label>
                        <input formControlName="ventaTotal" (input)="onIngresosChange()" type="number" placeholder="Venta Total" tabindex="1">
                    </fieldset>
                    <fieldset>
                        <label class="label">Entrada ($)</label>
                        <input formControlName="entrada" (input)="onIngresosChange()" type="number" placeholder="Entrada" tabindex="2">
                    </fieldset>
                    <fieldset>
                        <label class="label">Entrada (%)</label>
                        <input formControlName="porcentajeEntrada" type="text" placeholder="% Entrada">
                    </fieldset>
                    <fieldset>
                        <label class="label">Monto Crédito ($)</label>
                        <input formControlName="montoCredito" type="number" placeholder="Monto Crédito">
                    </fieldset>
                    <!-- <fieldset>
                        <label class="label">Venta Total Solicitada ($)</label>
                        <input formControlName="ventaSolicitada" type="number" placeholder="Venta Total Asociada">
                    </fieldset> -->
                    <fieldset>
                        <label class="label">Cuota Mensual ($)</label>
                        <input formControlName="cuotaMensualFija" type="number" placeholder="Cuota Mensual Fija">
                    </fieldset>
                </div>
            </div>
        </form>
    </div>


    <div class="footer-fixed-forms">
        <div class="cols cols2">
            <div class="align-left">
                <button class="btn btn-border-blue" (click)="openCustomWidthVariant(verHistorial)"><img src="assets/images/icon-reloj.svg">Historial</button>
                <button class="btn btn-border-blue" (click)="openCustomWidth(cancelarSolicitud)">Cancelar solicitud</button>
            </div>
            <div class="align-right">
                <!-- <button class="btn btn-border-gray">Borrar</button> -->
                <button class="btn btn-solid-green" (click)="ValidarFormularioDatosBasicos(mensajeModalError,'Validar')" tabindex="4">Validar</button>
                <button class="btn btn-solid-blue" (click)="ValidarFormularioDatosBasicos(mensajeModalError,'Continuar')">Continuar</button>
                <!-- <button class="btn btn-solid-blue">Continuar</button> -->
            </div>
        </div>
    </div>
</div>

<ng-template #verHistorial let-modal>
    <div class="modal-header-mfc variation">
        <div class="cols cols2 align-middle">
            <div class="align-left">
                <img width="20" alt="MICRO FACTORY CAPITAL" src="./assets/images/icon-historial-modal.svg">
                <h4 class="modal-minititle-mfc">Historial</h4>
            </div>
            <div class="align-right">
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Close click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <app-modal-historial></app-modal-historial>
    <div class="modal-footer-mfc full variation">
        <div class="cols cols2">
            <div class="align-left">
                <button class="btn btn-border-blue" routerLink="/configuracion/respuestas" (click)="modal.close('Cancelar click')">Generar respuesta</button>
            </div>
            <div class="align-right">
                <button class="btn btn-solid-blue" (click)="modal.close('Cancelar click')">Guardar</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #cancelarSolicitud let-modal>
    <div class="modal-header-mfc variation">
        <div class="cols cols2 align-middle">
            <div class="align-left">
                <img width="20" alt="MICRO FACTORY CAPITAL" src="./assets/images/icon-folder.svg">
                <h4 class="modal-minititle-mfc">Cancelar Solicitud</h4>
            </div>
            <div class="align-right">
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Close click')">
                  <span aria-hidden="true">&times;</span>
              </button>
            </div>
        </div>
    </div>

    <div class="modal-body variation">
        <div class="forms forms-relative" style="margin: 20px -8px 0;padding: 0;">
            <fieldset>
                <label class="label">Ingrese el motivo para cancelar la solicitud:</label>
                <textarea #motivoCancelacion placeholder="Escriba el motivo" style="max-height: 100px;"></textarea>
            </fieldset>
        </div>
    </div>

    <div class="modal-footer-mfc full variation">
        <div class="align-right">
            <button class="btn btn-solid-blue" (click)="generarCancelacion(motivoCancelacion.value)">Cancelar Solicitud</button>
        </div>
    </div>
</ng-template>

<ngb-alert *ngIf="successMessage" type="success" class="wbtn-success" (close)="successMessage = null"><img src="./assets/images/success.svg"><span>{{ successMessage }}</span></ngb-alert>

<ng-template #mensajeModalError let-modal>
    <div class="modal-error">
        <div>
            <div class="cols cols2 align-middle">
                <div class="align-left">
                    <img src="./assets/images/warning.svg" width="42">
                    <p>Errores:</p>
                    <ul>
                        <li *ngFor="let error of listadoErrores">
                            * {{ error }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="align-right">
            <button class="btn btn-solid-white" (click)="modal.close('Cancelar click')">Aceptar</button>
        </div>
    </div>
</ng-template>