<app-menutop></app-menutop>
<section id="father-table">
  <app-sidebar></app-sidebar>
  <div class="style-content">
    <div class="container my-4">
      <h4 class="standard-title my-4">Tarjetas Prioridad 2 y 3</h4>
    </div>
    <div class="container">
      <table class="width-filters display nowrap" id="tabla">
        <thead>
          <tr>
            <th>Tarjetas</th>
            <th *ngFor="let item of areas">{{ item.nom }}</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <p>Tarjetas Totales</p>
            </td>
            <td
              class="cursorgrab"
              *ngFor="let item of areas"
              (click)="changeClient(item.nom)"
            >
              <a>{{ item.num }}</a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row justify-content-md-center">
        <div *ngFor="let item of infosMostrar; let i = index">
          <div class="col my-4" style="width: 20rem">
            <div class="card" (click)="open(content)">
              <div class="card-body cursorgrab">
                <h5 class="card-title cursor-pointer">{{ item.nombre }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  {{ item.prioridad }}
                </h6>
                <p class="card-text">{{ item.descripcion }}</p>
              </div>
            </div>
          </div>
          <ng-template #content let-modal>
            <div class="modal-header">
              <h2 class="modal-title standard-title my-4">{{ item.nombre }}</h2>
              <button
                type="button"
                class="close"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="container my-3">
              <table class="width-filters display nowrap">
                <thead>
                  <tr>
                    <th>Propietario</th>
                    <td>
                      <p>{{ item.propietario }}</p>
                    </td>
                  </tr>
                  <tr>
                    <th>Area</th>
                    <td>
                      <p>{{ item.area }}</p>
                    </td>
                  </tr>
                  <tr>
                    <th>Fecha Ingreso</th>
                    <td>
                      <p>{{ item.fechaIngreso | date: "dd/MM/yyyy" }}</p>
                    </td>
                  </tr>
                  <tr>
                    <th>Descripción</th>
                    <td>
                      <p>{{ item.descripcion }}</p>
                    </td>
                  </tr>
                  <tr>
                    <th>Prioridad</th>
                    <td>
                      <p>{{ item.prioridad }}</p>
                    </td>
                  </tr>
                  <tr>
                    <th>Valor Cliente</th>
                    <td>
                      <p>{{ item.valorCliente }}</p>
                    </td>
                  </tr>
                  <tr>
                    <th>Valor Negocio</th>
                    <td>
                      <p>{{ item.valorNegocio }}</p>
                    </td>
                  </tr>
                  <tr>
                    <th>Cuantificación</th>
                    <td>
                      <p>{{ item.cuantificacion }}</p>
                    </td>
                  </tr>
                  <tr>
                    <th>Tipo</th>
                    <td>
                      <p>{{ item.tipo }}</p>
                    </td>
                  </tr>
                  <tr>
                    <th>Razón</th>
                    <td>
                      <p>{{ item.razon }}</p>
                    </td>
                  </tr>
                  <tr>
                    <th>Criterios</th>
                    <td>
                      <p>{{ item.criterios }}</p>
                    </td>
                  </tr>
                  <tr>
                    <th>Observaciones</th>
                    <td>
                      <p>{{ item.observaciones }}</p>
                    </td>
                  </tr>
                </thead>
              </table>
              <div class="container mt-4">
                <div class="row">
                  <div class="col text-center">
                    <a *ngFor="let img of item.imgs">
                      <img
                        class="w-25 mx-2"
                        src="{{ img.url }}"
                        (click)="openImage(imageContent)"
                        height="150px"
                      />

                      <ng-template #imageContent let-modal>
                        <img src="{{ img.url }}" />
                      </ng-template>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal-body my-3">
              <div class="container my-3">
                <h6 class="my-3">
                  Valoración 1 (menos importante) - 5 (más importante)
                </h6>
                <ngb-rating
                  class="estrellita"
                  [(rate)]="currentRate"
                  [max]="5"
                ></ngb-rating>
                <hr />
                <pre>
                  Valoración: {{ currentRate }}
                </pre>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-solid-blue"
                (click)="saveVoto(currentRate, item)"
              >
                Guardar
              </button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <ng-template #check let-modal>
      <div class="modal fade show d-block custom-width-error-modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-check">
              <div>
                <div class="cols cols2 align-middle">
                  <div class="align-left" style="font-size: 25px">
                    <img
                      class="my-4 mx-2"
                      src="./assets/images/success.svg"
                      width="42"
                    />
                    <h2 class="mx-2">No tiene mas tarjetas por revisar</h2>
                  </div>
                </div>
              </div>
              <div class="align-right my-4 mx-2">
                <button class="btn btn-solid-white" (click)="cerrar()">
                  Aceptar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #warningID let-modal>
      <div class="modal fade show d-block custom-width-error-modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-error">
              <div>
                <div class="cols cols2 align-middle">
                  <div class="align-left">
                    <img src="./assets/images/warning.svg" width="42" />
                    <p>El usuario Trello no coincide</p>
                  </div>
                </div>
              </div>
              <div class="align-right">
                <button class="btn btn-solid-white" (click)="cerrar()">
                  Aceptar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</section>
