<app-menutop></app-menutop>
<section id="father-table">
    <app-sidebar></app-sidebar>
    <div class = "style-content">
            <style>
            h5:hover{
                cursor:grab;
            }
        </style>
        <div class = "container my-4">
        <h4 class= " standard-title my-4">Áreas</h4>
        <mat-form-field appearance="fill">
        <mat-select (selectionChange)="changeClient($event.value)">
            <mat-option *ngFor="let item of areas" [value]="item.nombre">
            {{item.nombre}}
            </mat-option>
        </mat-select>
        </mat-form-field>
        </div>
        <div class="container">

            <div class="row justify-content-md-center">
                <div *ngFor="let item of infos; let i = index">
                    
                        <div class="col my-4" style="width: 20rem;">
                                <div class="card" >
                                <div class="card-body">
                                    <h5 class="card-title cursor-pointer" (click)="open(content)" >{{item.nombre}}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{item.propietario}}</h6>
                                    <p class="card-text">{{item.descripcion}}</p>
                                </div>
                                </div>
                        </div>


                        <ng-template #content let-modal>
                        <div class="modal-header">
                            <h4 class="modal-title" id="modal-basic-title">{{ item.nombre }}</h4>
                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body my-3">
                            <ul class="list-group">
                                <li class="list-group-item active">Propietario: {{item.propietario}}</li>
                                <li class="list-group-item">Area: {{item.area}}</li>
                                <li class="list-group-item">Fecha Ingreso: {{item.fechaIngreso  | date: 'dd/MM/yyyy'}}</li>
                                <li class="list-group-item">Descripción: {{item.descripcion}}</li>
                                <li class="list-group-item">Prioridad: {{item.prioridad}}</li>
                                <li class="list-group-item">Valor Cliente: {{item.valorCliente}}</li>
                                <li class="list-group-item">Valor Negocio: {{item.valorNegocio}}</li>
                                <li class="list-group-item">Cuantificación: {{item.cuantificacion}}</li>
                                <li class="list-group-item">Tipo: {{item.tipo}}</li>                                
                                <li class="list-group-item">Razón: {{item.razon}}</li>
                                <li class="list-group-item">Criterios: {{item.criterios}}</li>
                                <li class="list-group-item">Observaciones: {{item.observaciones}}</li>
                            </ul>
                            <div class="container my-3">
                                <ngb-rating [(rate)]="currentRate" [max]="5"></ngb-rating>
                                <hr>
                                <pre>Rate: <b>{{currentRate}}</b></pre>
                            </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark" (click)="saveVoto(currentRate,item.id,item.peso)">Save</button>
                        </div>
                        </ng-template>

                </div>
            </div>    
        </div>
            


    </div>

</section>


