<div class="content">

    <div class="content-grid-list">
        <ul class="grid-list grid-list-fix">
            <li>
                <h5>Solicitud #</h5>
                <span>{{mensajeServicio.NumeroCredito}}</span>
            </li>
            <li>
                <h5>Cédula</h5>
                <span>{{mensajeServicio.Cedula}}</span>
            </li>
            <li>
                <h5>Nombre</h5>
                <span>{{mensajeServicio.NombreConsultado}}</span>
            </li>
            <li>
                <h5>Estado</h5>
                <span class="tag">{{mensajeServicio.Estado}}</span>
            </li>
            <li>
                <h5>Sub-estado</h5>
                <span>{{mensajeServicio.SubEstado}}</span>
            </li>
            <li>
                <h5>Fecha Creación</h5>
                <span>{{mensajeServicio.FechaCreacion}}</span>
            </li>
            <li>
                <h5>Tipo de Crédito</h5>
                <span>{{mensajeServicio.TipoCredito}}</span>
            </li>
        </ul>
        <ul class="grid-list">
            <li>
                <h5>Perfil Aplicado</h5>
                <span>{{mensajeServicio.PerfilAplicado}}</span>
            </li>
            <li>
                <h5>Score</h5>
                <span>{{mensajeServicio.ScoreDeudor}}</span>
            </li>
            <li>
                <h5>Ingreso Validado</h5>
                <span>{{mensajeServicio.IngresoValidado}}</span>
            </li>
            <li>
                <h5>Asesor Asociado</h5>
                <select>
                    <option>{{mensajeServicio.AsesorAsociado}}</option>
                </select>
            </li>
            <li>
                <h5>Valor de la Venta</h5>
                <span>{{mensajeServicio.ValorTotal}}</span>
            </li>
            <li>
                <h5>Valor de la Entrada</h5>
                <span>{{mensajeServicio.Entrada}}</span>
            </li>
            <li>
                <h5>Valor Crédito Solicitado</h5>
                <span>{{mensajeServicio.Monto}}</span>
            </li>
        </ul>
    </div>

    <app-steps></app-steps>

    <form class="steps-mobile">
        <select id='selectSteps'>
            <option value='datos-basicos'>Datos básicos</option>
            <option value='credito'>Crédito</option>
            <option value='solicitud-credito'>Solicitud Crédito</option>
            <option value='requisitos'>Requisitos</option>
            <option value='politicas'>Políticas</option>
            <option value='generacion' selected>Generación</option>
            <option value='control-calidad'>Control Calidad</option>
            <option value='resumen'>Resumen</option>
        </select>
    </form>

    <div class="forms forms-relative">
        <div class="cols cols3">
            <div>
                <fieldset>
                    <label class="label">Seleccione los items que desea imprimir</label>
                    <div class="imit-input">
                        <div>
                            <input type="checkbox" id="solicitud"><label for="solicitud">Solicitud de Crédito</label>
                        </div>
                        <div>
                            <input type="checkbox" id="firma"><label for="firma">Firma de Solicitud</label>
                        </div>
                    </div>

                </fieldset>
            </div>
            <div>
                <fieldset>
                    <label class="label">Fecha Pagaré</label>
                    <select>
                        <option>Seleccione...</option>
                    </select>
                </fieldset>
                <fieldset>
                    <label class="label">Días Inicio Crédito</label>
                    <input type="text" value="15" disabled>
                </fieldset>
                <fieldset>
                    <label class="label">Fecha Primer Pago</label>
                    <select>
                        <option>Seleccione...</option>
                    </select>
                </fieldset>
                <fieldset>
                    <label class="label">Días Inicio Crédito Máximo</label>
                    <input type="text" value="60" disabled>
                </fieldset>
            </div>
            <div>
                <fieldset>
                    <label class="label">Entidad Financiera</label>
                    <select id="NOMBRE_BANCO" name="NOMBRE_BANCO" [(ngModel)]="NOMBRE_BANCO" (change)="getTipoCuenta()">
                <option *ngFor="let entidad of EntidadFinanciera" [value]="entidad.NOMBRE_BANCO">{{entidad.NOMBRE_BANCO}}</option>
              </select>
                </fieldset>
                <fieldset>
                    <label class="label">Tipo de Cuenta</label>
                    <select id="TIPO_BANCO" name="TIPO_BANCO" [(ngModel)]="TIPO_BANCO" (change)="getNumeroCuenta()">
                <option *ngFor="let tipo of TipoCuenta" [value]="tipo.cod_tcu">{{tipo.nom_tcu}}</option>
              </select>
                </fieldset>
                <fieldset>
                    <label class="label"># Cuenta Bancaria</label>
                    <select>
                <option *ngFor="let numero of NumeroCuenta" [value]="numero.NUMERO_CUENTA">{{numero.NUMERO_CUENTA}}</option>
              </select>
                </fieldset>
            </div>
        </div>
        <div class="align-right" style="padding-top: 40px;">
            <button class="btn btn-solid-blue">Generar Documentación Seleccionada</button>
        </div>
    </div>

    <div class="footer-fixed-forms">
        <div class="cols cols2">
            <div class="align-left">
                <button class="btn btn-border-blue" (click)="openCustomWidthVariant(verHistorial)"><img src="assets/images/icon-reloj.svg">Historial</button>
                <button class="btn btn-border-blue" (click)="openLg(verDocumentacion)"><img src="assets/images/icon-folder.svg">Documentación</button>
                <button class="btn btn-border-blue">Cancelar</button>
            </div>
            <div class="align-right">
                <button class="btn btn-border-gray">Anterior</button>
                <button class="btn btn-solid-green">Continuar</button>
            </div>
        </div>
    </div>
</div>


<ng-template #verDocumentacion let-modal>
    <div class="modal-header-mfc variation">
        <div class="cols cols2 align-middle">
            <div class="align-left">
                <img width="20" alt="MICRO FACTORY CAPITAL" src="./assets/images/icon-documentacion-modal.svg">
                <h4 class="modal-minititle-mfc">Documentación</h4>
            </div>
            <div class="align-right">
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Close click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="modal-body variation">
        <div class="forms forms-relative">
            <label class="label">Nuevo archivo</label>
            <div class="false-inputfile">
                <input type="text" disabled placeholder="Elija un archivo para subir...">
                <button class="btn btn-solid-blue" type="button" (click)="fileInput.click()">
                    <span>Cargar archivo</span>
                    <input #fileInput type="file" style="display:none;" />
                </button>
            </div>
            <div class="drag-div">Arrastra una columna aquí para agrupar por dicha columna</div>
            <div id="table-scroll">
                <table class="width-filters">
                    <thead>
                        <tr>
                            <th><input type="checkbox"></th>
                            <th>
                                <select class="filter-for-table">
                                    <option>Nombre de documento</option>
                                </select>
                            </th>
                            <th>
                                <select class="filter-for-table">
                                    <option>Fecha ingreso</option>
                                </select>
                            </th>
                            <th>
                                <select class="filter-for-table">
                                    <option>Usuario Ingreso</option>
                                </select>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tr-filters">
                            <td></td>
                            <td>
                                <div class="component-filter"><input type="text"><span class="btn-filter"><img src="assets/images/icon-filter.svg"></span></div>
                            </td>
                            <td>
                                <div class="component-filter"><input type="text"><span class="btn-filter"><img src="assets/images/icon-filter.svg"></span></div>
                            </td>
                            <td>
                                <div class="component-filter"><input type="text"><span class="btn-filter"><img src="assets/images/icon-filter.svg"></span></div>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>
                                <a href="#" class="link-doc"><img src="assets/images/icon-document-list.svg"> EMA0100453-Cotizado-MFC-MUPI-v26-xls</a>
                            </td>
                            <td>25/06/2019</td>
                            <td>vegas@mfcapitalgroup.com</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>
                                <a href="#" class="link-doc"><img src="assets/images/icon-document-list.svg"> EMA0100453-Cotizado-MFC-MUPI-v26-xls</a>
                            </td>
                            <td>25/06/2019</td>
                            <td>vegas@mfcapitalgroup.com</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>
                                <a href="#" class="link-doc"><img src="assets/images/icon-document-list.svg"> EMA0100453-Cotizado-MFC-MUPI-v26-xls</a>
                            </td>
                            <td>25/06/2019</td>
                            <td>vegas@mfcapitalgroup.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer-mfc full variation">
        <div class="align-right">
            <button class="btn btn-solid-blue" (click)="modal.close('Cancelar click')">Cerrar</button>
        </div>
    </div>
</ng-template>



<ng-template #verHistorial let-modal>
    <div class="modal-header-mfc variation">
        <div class="cols cols2 align-middle">
            <div class="align-left">
                <img width="20" alt="MICRO FACTORY CAPITAL" src="./assets/images/icon-historial-modal.svg">
                <h4 class="modal-minititle-mfc">Historial</h4>
            </div>
            <div class="align-right">
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Close click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <app-modal-historial></app-modal-historial>
    <div class="modal-footer-mfc full variation">
        <div class="cols cols2">
            <div class="align-left">
                <button class="btn btn-border-blue" routerLink="/configuracion/respuestas" (click)="modal.close('Cancelar click')">Generar respuesta</button>
            </div>
            <div class="align-right">
                <button class="btn btn-solid-blue" (click)="modal.close('Cancelar click')">Guardar</button>
            </div>
        </div>
    </div>
</ng-template>