<div class="modal-body variation">
    <div class="forms forms-relative" style="padding-bottom: 30px;">
        <div class="cols cols2">
            <div>
                <label class="label">Estado</label>
                <ul class="grid-list full-grid-list">
                    <li>
                        <span class="tag">{{estado}}</span>
                    </li>
                </ul>
                <span class="date-span">Hace {{diasEstado}} días</span>
            </div>
            <div *ngIf="subEstado" class="mt15">
                <label class="label">Sub-estado</label>
                <ul class="grid-list full-grid-list">
                  <li>
                    <span *ngIf="subEstado" class="tag">{{subEstado}}</span>
                  </li>
                </ul>
                <span *ngIf="subEstado" class="date-span">Hace {{diasSubEstado}} días</span>
            </div>
        </div>
    </div>
    <ul id="list-historial">
        <li *ngFor="let his of historial" >
            <figure>
                <img src="./assets/images/{{his.ICO_HIST}}">
            </figure>
            <div>
                <h5>{{his.TIP_HIST}} <strong>{{his.VAL_HIST}}</strong></h5>
                <p align="justify">{{his.DES_HIST}}</p>
                <p>Realizado por {{his.USR_HIST}}</p>
            </div>
            <span class="date-span">{{his.FEC_HIST | date: 'short' }}</span>
        </li>
    </ul>
    <form class="forms forms-relative" (ngSubmit)="postHistorial()">
        <div class="modal-footer-mfc full variation">
          <div>
            <input type="text" id="comentario" name="comentario" [(ngModel)]="comentario" placeholder="Añadir un comentario">
          </div>
          <br>
          <div class="align-right">
            <button class="btn btn-solid-blue" type="submit">Guardar</button>
          </div>
        </div>
    </form>
</div>
