<aside class="sidebar">
    <nav>
        <a routerLink="/inicio" routerLinkActive="active" class="label-separator"><img width="18" alt="Inicio" src="./assets/images/icon-inicio.svg"><span>Inicio</span></a>
        <div class="content-submenu content-submenu-fabrica" routerLinkActive="active">
            <span class="label-separator has-childs"><img width="24" alt="Fábrica de Crédito" src="./assets/images/icon-industry.svg"><span>Fábrica de Crédito</span></span>
            <a routerLink="/fabrica/nueva-solicitud" class="submenu" routerLinkActive="active"><img src="./assets/images/icon-add.svg">Nueva Solicitud</a>
            <a routerLink="/fabrica/consulta-general" class="submenu" routerLinkActive="active"><img src="./assets/images/icon-consulta.svg">Consulta General</a>
            <a routerLink="/fabrica/simulador" class="submenu" routerLinkActive="active"><img src="./assets/images/icon-simulador.svg">Simulador de Crédito</a>
        </div>
        <div class="content-submenu content-submenu-fabrica" routerLinkActive="active">
            <span class="label-separator has-childs"><img width="20" alt="Análisis de Crédito" src="./assets/images/icon-analisis.svg"><span>Análisis de Crédito</span></span>
            <a routerLink="/analisis/verificaciones" class="submenu" routerLinkActive="active"><img src="./assets/images/icon-verificaciones.svg">Verificaciones</a>
            <a routerLink="/analisis/excepciones" class="submenu" routerLinkActive="active"><img src="./assets/images/icon-excepciones.svg">Excepciones</a>
            <a routerLink="/analisis/control-de-calidad" class="submenu" routerLinkActive="active"><img src="./assets/images/icon-control.svg">Control de Calidad</a>
        </div>
        <a href class="label-separator"><img width="20" alt="Administración Cartera" src="./assets/images/icon-admin.svg"><span>Administración Cartera</span></a>
        <a href class="label-separator"><img width="18" alt="Reporte de Solicitudes" src="./assets/images/icon-reporte.svg"><span>Reporte de Solicitudes</span></a>
        <div class="content-submenu content-submenu-config" routerLinkActive="active">
            <span class="label-separator has-childs"><img width="24" alt="Fábrica de Crédito" src="./assets/images/icon-config.svg"><span>Configuración</span></span>
            <a routerLink="/configuracion/respuestas" class="submenu" routerLinkActive="active"><img src="./assets/images/icon-respuestas.svg">Respuestas</a>
        </div>
    </nav>
    <div class="footer-sidebar">
        <span>© MFC 2019. Derechos reservados.</span>
    </div>
    <span id="min-max-sidebar"></span>
</aside>
