<div class="content">
  <form class="forms forms-relative">
    <h2 class="standard-title">Solicitudes de Crédito</h2>
    <div class="forms forms-relative " style="padding-top: 0;border: none; ">
      <app-loading *ngIf="loading"></app-loading>
      <div id="table-scroll">
        <table class="width-filters display nowrap" id="tabla">
          <thead>
          <tr>
            <th></th>
            <th>Estado</th>
            <th>Subestado</th>
            <th>Número Solicitud</th>
            <th>Cédula</th>
            <th>Nombres</th>
            <th>Fecha Aprobación</th>
            <th>Sucursal</th>
            <th>Fecha de Envío</th>
            <th>Observaciones</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let credito of documentosEnviar | paginate: {itemsPerPage: 10, currentPage: pageActual}">
            <td><input type="checkbox" [checked]="marcarChecks" name="miDataInterior" (change)="$event.target.checked ? agregar(credito) : quitar(credito)"></td>
            <td>{{credito.NOM_ECRE}}</td>
            <td>{{credito.nombre_plantilla}}</td>
            <td>{{credito.ID_CRE}}</td>
            <td>{{credito.ID_CLI}}</td>
            <td>{{credito.Nombres}}</td>
            <td>{{credito.FCH_APRO_SOL | date: 'yyyy-MM-dd'}}</td>
            <td>{{credito.NOM_SUC}}</td>
            <td>{{credito.fechaEnvioDocumentos | date: 'yyyy-MM-dd'}}</td>
            <td>{{credito.motivoRetornoDocumentos}}</td>
          </tr>
          </tbody>
        </table>
        <pagination-controls class="my-pagination align-content-center label" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" autoHide="true" (pageChange)="pageActual = $event"></pagination-controls>
      </div>
    </div>
  </form>
  <div class="footer-fixed-forms ">
    <div class="cols cols2 ">
      <div class="align-left ">        &nbsp;
      </div>
      <div class="align-right ">
        <button class="btn btn-solid-blue" (click)="exportar()">Exportar XLS</button>
        <button class="btn btn-solid-green" (click)="enviarDocumentos(mensajeAdvertencia, mensajeModalError)">Enviar</button>
      </div>
    </div>
  </div>
</div>
<ng-template #mensajeAdvertencia let-modal>
  <div class="modal-header-mfc variation modal-mensaje">
    <div class="cols cols2 align-middle">
      <div class="align-left">
        <img width="32" alt="MICRO FACTORY CAPITAL" src="./assets/images/icon-mensaje-warning.svg">
        <h4 class="modal-minititle-mfc">Importante</h4>
      </div>
      <div class="align-right">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Close click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <div class="modal-body variation modal-mensaje">
    <p>{{advertenceMessage}}</p>
  </div>
  <div class="modal-footer-mfc full variation">
    <div class="cols cols2">

      <div class="align-right">
        <button class="btn btn-solid-green" (click)="modal.close('Cancelar click')">Aceptar</button>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #mensajeModalError let-modal>
  <div class="modal-error">
    <div>
      <div class="cols cols2 align-middle">
        <div class="align-left">
          <img src="./assets/images/warning.svg" width="42">
          <p>{{errorMessage}}</p>
        </div>
      </div>
    </div>
    <div class="align-right">
      <button class="btn btn-solid-white" (click)="modal.close('Cancelar click')">Aceptar</button>
    </div>
  </div>
</ng-template>
<ngb-alert *ngIf="successMessage" type="success" class="wbtn-success" (close)="successMessage = null"><img src="./assets/images/success.svg"><span>{{ successMessage }}</span></ngb-alert>

