<div class="content">
    <h2 mat-dialog-title>Cambiar Contraseña</h2>
    <mat-dialog-content>
        <form class="forms forms-relative account-edit" [formGroup]="FormularioContra" (ngSubmit)="savePassword()">
            <fieldset>
                <label class="label">Contraseña Actual</label>
                <input type="password" formControlName="contraActual" placeholder="Escriba su contraseña actual">
                <div *ngIf="f.contraActual.touched && f.contraActual.invalid" >
                    <div *ngIf="f.contraActual.errors.required">Debe llenar este campo</div>
                </div>
            </fieldset>
            <fieldset>
                <label class="label">Nueva contraseña</label>
                <input type="password" formControlName="nuevaContra" placeholder="Escriba nueva contraseña">
                <div *ngIf="f.nuevaContra.touched && f.nuevaContra.invalid" >
                    <div *ngIf="f.nuevaContra.errors.required">Debe llenar este campo</div>
                </div>
            </fieldset>
            <fieldset>
                <label class="label">Repetir Nueva contraseña</label>
                <input type="password" formControlName="nuevaContraValidada" placeholder="Escriba nuevamente la contraseña">
                
                <div *ngIf="f.nuevaContraValidada.touched && f.nuevaContraValidada.invalid" >
                    <div *ngIf="f.nuevaContraValidada.errors.required">Debe llenar este campo</div>
                    <div *ngIf="f.nuevaContraValidada.errors.mustMatch">Contraseñas deben ser iguales</div>
                </div>
            </fieldset>
            <div class="btns-account">
                <button class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </mat-dialog-content>
</div>

