<div class="content">
    <form class="forms forms-relative" [formGroup]="FormularioDatosBasicos">
        <h2 class="standard-title">Solicitudes de Crédito</h2>
        <div class="forms forms-relative">
            <div class="cols cols3">
                <div>
                    <fieldset>
                        <label class="label">Desde</label>
                        <input formControlName="fechaDesde" class="form-control" type="date">
                    </fieldset>
                </div>
                <div>
                    <fieldset>
                        <label class=" label ">Hasta</label>
                        <input formControlName="fechaHasta" class="form-control" type="date">
                    </fieldset>
                </div>

                <div>
                    <fieldset>
                        <label class="label ">&nbsp;</label>
                        <div class="align-right ">
                            <button class="btn btn-border-gray ">Borrar</button>
                            <button class="btn btn-solid-green " (click)="getCreditos() ">Cargar</button>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="forms forms-relative " style="padding-top: 0;border: none; ">
            <div class="buscador-general ">
                <label class="label">Buscador General</label>
                <input type="text" placeholder="Filtrar: Estado/Cédula/Nombre" #busqueda (input)="Buscar(busqueda.value, 'BUSCADOR')">
            </div>
            <div id="table-scroll">
                <table class="width-filters display nowrap" id="tabla">
                    <thead>
                        <tr>
                            <th>V</th>
                            <th>A</th>
                            <th>C</th>
                            <th>E</th>
                            <th>R</th>
                            <th>
                                <div>Estado</div>
                                <hr>
                                <div class="component-filter"><input type="text" #estado (input)="Buscar(estado.value, 'NOM_ECRE')" placeholder="Estado"><span class="btn-filter"></span></div>
                            </th>
                            <th>Sucursal
                                <hr>
                                <div class="component-filter"><input type="text" #sucursal (input)="Buscar(sucursal.value, 'NOM_SUC')" placeholder="Sucursal"><span class="btn-filter"></span></div>
                            </th>
                            <th>Solicitud</th>
                            <th>Fecha Creación</th>
                            <th>Cédula</th>
                            <th>Apellidos y Nombres</th>
                            <th>Producto
                                <hr>
                                <div class="component-filter"><input type="text" #producto (input)="Buscar(producto.value, 'NOM_PROD')" placeholder="Producto"><span class="btn-filter"></span></div>
                            </th>
                            <th>#Formulario</th>
                            <th>Venta Total</th>
                            <th>Valor Crédito</th>
                            <th>Entrada</th>
                            <th>Cuota Fija</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let credito of creditos | paginate: {itemsPerPage: 10, currentPage: pageActual}">
                            <td>
                                <a [routerLink]="['/fabrica/nueva-solicitud/solicitud-credito/', credito.ID_CRE]"><span class="{{credito.VENDEDOR_COLORUX_ECRE}}"></span></a>
                            </td>
                            <td>
                                <a [routerLink]="['/analisis/verificaciones/', credito.ID_CRE]"><span class="{{credito.ANALISTA_COLORUX_ECRE}}"></span></a>
                            </td>
                            <td>
                                <a [routerLink]="['/analisis/control-de-calidad/', credito.ID_CRE]"><span class="{{credito.CALIDAD_COLORUX_ECRE}}"></span></a>
                            </td>
                            <td>
                                <a [routerLink]="['/analisis/excepciones/', credito.ID_CRE]"><span *ngIf="credito.Excepcion==='~/images/novalidado.png'" class="light yellow"></span></a>
                            </td>
                            <td>
                                <a [routerLink]="['/fabrica/nueva-solicitud/creditoMin/', credito.ID_CRE]"><span class="{{credito.RetomarConsulta}}"></span></a>
                            </td>
                            <td>{{credito.NOM_ECRE}}</td>
                            <td>{{credito.NOM_SUC}}</td>
                            <td><a [routerLink]="['/fabrica/nueva-solicitud/solicitud-credito', credito.ID_CRE]">{{credito.ID_CRE}}</a></td>
                            <td>{{credito.FECH_CREA_CRE | date: 'yyyy-MM-dd'}}</td>
                            <td>{{credito.ID_CLI}}</td>
                            <td>{{credito.APE_CLI}}</td>
                            <td>{{credito.NOM_PROD}}</td>
                            <td>{{credito.NUM_OPE_CRE}}</td>
                            <td class="align-right ">${{credito.VENTA_TOTAL_CRE}}</td>
                            <td class="align-right ">${{credito.VALOR_DESEM_CRE}}</td>
                            <td class="align-right ">${{credito.ENTRADA_CRE}}</td>
                            <td class="align-right ">${{credito.CUOTA_FIJA_SOL}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td *ngIf="creditos">Total de Registros: {{creditos.length}}</td>
                            <td>
                                <a href="# "></a>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="align-right "></td>
                            <td class="align-right "></td>
                            <td class="align-right "></td>
                            <td class="align-right "></td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls class="my-pagination align-content-center label" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" autoHide="true" (pageChange)="pageActual = $event"></pagination-controls>
            </div>
        </div>
    </form>
    <div class="footer-fixed-forms ">
        <div class="cols cols2 ">
            <div class="align-left ">
                &nbsp;
            </div>
            <div class="align-right ">
                <!--span style="color: #6e6e6e;font-size: 14px; ">Exportar Solicitudes</span>
                <fieldset class="forms forms-relative ">
                    <select>
                        <option>Seleccione un formato</option>
                    </select>
                </fieldset-->
                <button class="btn btn-solid-blue" (click)="exportar()">Exportar XLS</button>
            </div>
        </div>
    </div>

</div>