.my-pagination /deep/ .ngx-pagination .current {
  background: yellowgreen;
}
.example-section {
  font-size: 0;
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
  font-size: 14px;
  color: #6E6E6E;
}

ul {
  list-style-type: none;
  margin-top: 10px;
}

.filtro {
  margin-bottom: 20px;
}

.filtro label {
  display: inline-block;
  vertical-align: left;
  padding-left: 15px;
  width: auto;
}

.filtro input {
  max-width: none!important;
}